.mainContainer {
  display: flex;
  flex-wrap: wrap;

}

.topic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFE81F;
  align-items: center;

  h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 50px;
  }
}