* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: url('./Images/background2.jpg') repeat-y;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}